
// .icon_author{
//     margin-top: 15px;
// }
.author_heading{
    margin-top:25px;
   
}
// .author_name{
//     margin-top:20px;
// }
.author_para{

    color:#969292;
}
.author_p{
    color:rgb(85, 83, 81);
}
.Box{
    width:100%;
}
.footer{
padding-top:12px;
width:100%;
}



